h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    background-color: white;
    width: 150px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px gray;
}