h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #3E3E3F;
    width: 150px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px gray;
}